@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Facts Page</h1>
    <p>The best place for finiding all your facts on local host!</a>.</p>
</div>
