@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>

<div class="container">
    <h3>
        Notes from the nonprofit:
    </h3>
    <p>
        We started the Carroll County Animal Protection League organization on January 17, 2007. We purchased land in Carroll County, put in a two-way driveway according to ODOT regulations, dug out the L-shaped parking lot, and the no-kill animal shelter site, installed storm drains, catch basins, and put down 410 tons of limestone. All this was accomplished through fundraising efforts, our generous members contributions, numerous grants, and the general public's support. June 5th, 2015, we put up the "shell" of our no-kill animal shelter. We have over $800,000.00 invested in our land and it is paid for free and clear. We are currently trying to raise the additional funds to finish the shelter. When completed to open and operate, it will cost us $1.2 million to build from start to finish in order to take in our first domestic animal. We are determined to do this project as we set out to do in the very beginning-to save lives of precious unwanted animals.
    </p>
</div>