@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<div class="col-md-6">
    <h3>Carroll County Animal Protection League</h3>
    <address>
        4901 Canton Rd. NW<br />
        PO BOX 353<br />
        Carrollton, OH 44615<br />
        @*<abbr title="Phone">P:</abbr>
            555.555.0000*@
    </address>
</div>
<div class="col-md-6">
    <div class="map"><br/>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3027.2666850482915!2d-81.1214278845971!3d40.64605137933912!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8836be4d497bfd79%3A0x9b839fa3499ba924!2s4901%20Canton%20Rd%20NW%2C%20Carrollton%2C%20OH%2044615!5e0!3m2!1sen!2sus!4v1666886058087!5m2!1sen!2sus" width="500" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</div>
    
<address>
    <strong>Support:</strong>   <a href="mailto:carrollcountyapl@yahoo.com">carrollcountyapl@yahoo.com</a><br />
    @*<strong>President:</strong> <a href="mailto:EileenRohrer@example.com">EileenRohrer@example.com</a>*@
    <strong>Facebook:</strong> <a href="https://www.facebook.com/people/Carroll-County-Animal-Protection-League/100070107697791/">CCAPLFacebookPage</a>
</address>