@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="background-image: url(https://images.unsplash.com/photo-1593362831502-5c3ad1c05f57?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=812&q=80)">
    <div class="col-12">
        <h1>Carroll County</h1> 
        <h1>Animal Protection League</h1>
        <p class="lead" style="font-display: block; align-content: center">Memorial Book</p>
        <p>Browse all the donations</p>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <p>memorials go here</p>
    </div>
</div>