
@{
    ViewBag.Title = "Index";
}

<h2>Reports</h2>


<li class="nav-link">@Html.ActionLink("Inventory Report", "Inventory", "Reports")</li>
<li class="nav-link">@Html.ActionLink("Sales Report", "Sales", "Reports")</li>